.c-footer-links-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid white;
}


.c-footer-links-content {
  grid-column: 1 / 2;
}

.c-footer-links-nav {
  grid-column: 2 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-lg);
  border: white 1px solid;
}

.c-footer-links-list {
  font-size: var(--font-s-16);
}


.c-footer-links-copy {
  grid-column: span 3;
  color: var(--color-blue-600);
  text-align: center;
  font-size: var(--font-s-16);
  padding: var(--space-lg);
}