@use "../config/variables";
@use "../config/mixins";

.s-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 8rem;

  @include mixins.break(large) {
    flex-direction: column;
    // padding: 3.2rem;
  }

  @include mixins.break(small) {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }
  
}

.c-card {
  width: 40rem;
  min-height: 54rem;
  border-radius: var(--radius-lg);
  background-color: 
    color-mix(in srgb, var(--color-primary) 85%, black 15%);
  padding: 2.4rem;


  /* ======== laptop ======== */
  @include mixins.break(large) {
    width: 100%;
    min-height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    .c-card-box-content {
      width: 50%;
    }

  }

  /* ======== mobile - volver a vertical ======== */
  @include mixins.break(small) {
    width: 33rem;
    display: block;
    flex-direction: column;
    
    .c-card-box-content { width: 100% }
  }

}

.c-card-image {
  text-align: center;
  height: 21rem;
  display: grid;
  place-items: center;

  img { width: 100% }

}

.c-card-title {
  font-size: var(--font-s-32);
  line-height: var(--line-h-40);
  font-weight: var(--font-w-medium);
  margin-bottom: 3rem;
  color: var(--color-white);
  
}

.c-card-content {
  font-size: var(--font-s-16);
  line-height: var(--line-h-24);
  font-weight: var(--font-w-medium);
  color: var(--color-blue-600);
  margin-bottom: 4rem;
}

// Modificador para el botón ghost en las cards (sobreescribe el ancho para que ocupe todo el espacio disponible)
.c-button-ghost { width: 100%; }