// importamos los mixins para las media queries
@use "../config/mixins";

/* ====================== ========= ====================== */
/* ====================== HERO HOME ====================== */
/* ====================== ========= ====================== */
.b-hero-container {
  position: relative;
  min-height: 95vh;

  // Para tables de apple
  @media screen and (max-width: 1024px) and (min-height: 1100px) {
    min-height: calc(50vh - 10rem);
  }

  @include mixins.break(small) {
    min-height: calc(85vh - 10rem);
  }


}

.b-hero__content {
  //  padding 
  --gap-padding-hero: 20rem;
  position: relative;
  z-index: var(--z-index-1) ;
  padding-top: var(--gap-padding-hero);
  padding-bottom: var(--gap-padding-hero);

  // para pantallas menores a 1024px, el grid se adapta a una sola columna y el padding-top se reduce a 5rem
  @include mixins.break(large) {
    --gap-padding-hero: 15rem;
  }

  @include mixins.break(small) {
    --gap-padding-hero: 10rem;
  }

}

.b-hero__content--box {

  h1.title-1 {

    margin: 4rem 0;
    width: 70%;

    @include mixins.break(large) {
      width: 100%;
      font-size: var(--font-s-48);
      /* 48px */
      line-height: var(--line-s-48);
      /* 48px */
      margin: 3rem 0;
    }

    // para pantallas menores a 1024px, el font-size se adapta a 24px
    @include mixins.break(small) {
      font-size: var(--font-s-40);
      /* 40px */
      line-height: var(--line-s-48);
      /* 48px */
      margin: 2rem 0;
    }

  }

  p {
    margin-bottom: 3rem;
    width: 70%;

    @include mixins.break(medium) {
      font-size: var(--font-s-18);
      width: 90%;
      margin-bottom: 2rem;
    }
  }

  p.title-brand {
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    width: 100%;
  }

}

.b-hero__ctas {
  display: flex;
  gap: 2rem;
  align-items: start;

  @include mixins.break(medium) {

    .c-button-lg,
    .c-button-ghost-lg {
      min-height: 4.8rem;
      padding: 1.6rem 2rem;
      font-size: var(--font-s-14);
    }
  }

  @include mixins.break(small) {
    flex-direction: column;

    .c-button-lg,
    .c-button-ghost-lg {
      min-height: 4.8rem;
      padding: 1.6rem 2rem;
      font-size: var(--font-s-14);
    }
  }

}

.b-hero__image {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;


  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center bottom;
  }

  @include mixins.break(medium) {
    img {
      height: 200px;
    }

  }

  @include mixins.break(small) {
    img {
      height: 200px;
    }

  }

}

/* ====================== ============ ====================== */
/* ====================== HERO ABOUTUS ====================== */
/* ====================== ============ ====================== */

.b-hero-about {
  position: relative;
  min-height: 100vh;
  margin-top: -10rem;
  background-image: var(--gradient-teal-top);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: var(--z-index-5) ;
}
.b-hero-about__content {
  width: 50%;
  text-align: center;
  margin-top: 20rem;

  @include mixins.break(large){
    width: 90%;
  }

  @include mixins.break(small){
    text-align: left;
    
    h1.title-1 {
      font-size: var(--font-s-40);
      line-height: var(--line-s-48);
    }

  }

}

.b-hero-about__image {
  position: absolute;
  bottom: 0;
  z-index: var(--z-index-negative);
  width: 100%;
  height: 35%;
  overflow: hidden;

  .b-hero-about__img {
    width: 100%;
    height: 100%;
    bottom: 0;
  }

  @include mixins.break(small){
    height: 25%;
    .b-hero-about__img {
      object-position: right center;
      object-fit: cover;
    }
  }

}