@use "../../config/mixins";

.c-nav {
  justify-items: center;

  @include mixins.break(large) {
    display: none;
  }

}

.c-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.c-nav__link {
  display: inline-block;
  font-size: var(--font-s-16);
  /* 16px */
  color: var(--color-blue-600);
  padding: 1.2rem;
  text-decoration: none;

  &:hover {
    color: var(--color-white);
  }

}

.c-nav__link--active {
  color: var(--color-white);
}

/* =========================================
   DESKTOP DROPDOWN
   ========================================= */

.has-dropdown {
  position: relative;

  // Crear un área invisible para mantener el hover
  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 2rem;
    z-index: 99;
  }

  .c-icon-dropdown {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    img {
      width: 1.6rem;
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  }

  &:hover .c-icon-dropdown img {
    transform: rotate(0deg);
  }
}

.c-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  min-width: 35rem;
  background-color: var(--color-primary);
  border: 0.1rem solid var(--color-blue-700);
  border-radius: var(--space-sm);
  list-style: none;
  padding: 1.2rem;
  margin-top: 0.5rem;
  z-index: 100;

  // Oculto por defecto - SIN transición para evitar animación al cargar
  opacity: 0;
  transform-origin: top center;
  pointer-events: none;
  transform: scaleY(0) translatex(-50%) translateY(-1rem);

  // Mostrar al hacer hover en el padre
  .has-dropdown:hover & {
    opacity: 1;
    pointer-events: auto;
    transform: scaleY(1) translatex(-50%) translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  // Transition al salir del hover
  .has-dropdown:not(:hover) & {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .c-dropdown__link {
    display: block;
    padding: 1.6rem;
    text-decoration: none;
    border-radius: var(--space-xs);
    transition: background-color 0.2s ease;

    .c-dropdown__title {
      font-size: var(--font-s-16);
      font-weight: var(--font-w-semibold);
      color: var(--color-white);
      margin-bottom: 0.8rem;
      line-height: var(--line-h-24);
    }

    .c-dropdown__description {
      font-size: var(--font-s-14);
      font-weight: var(--font-w-regular);
      color: var(--color-blue-600);
      line-height: var(--line-h-20);
    }

    &:hover {
      background-color: color-mix(in srgb, var(--color-primary) 70%, black 30%);

      .c-dropdown__title {
        color: var(--color-secondary);
      }

      .c-dropdown__description {
        color: var(--color-secondary);
      }
    }
  }

  // Separador entre items
  // li:not(:last-child) {
  //   border-bottom: 0.1rem solid var(--color-blue-700);
  // }

  @include mixins.break(large) {
    display: none;
  }
}


/* =========================================
   MOBILE NAVIGATION
   ========================================= */

.c-nav-mobile {

  background-color: var(--color-primary);
  position: fixed;
  bottom: 0;
  left: -100%;
  transition: left 0.3s ease;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow-y: scroll;
  display: none;

  @include mixins.break(large) {
    display: block;
  }

  // Scrollbar styles for WebKit browsers
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: var(--color-blue-600) transparent;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-600);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  .c-nav-mobile-menu-ham {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10rem;

    .c-menu-hamburger__button{
      .c-hamburger-line:nth-child(1) {
        transform: translateY(0.8rem) rotate(45deg);
      }

      .c-hamburger-line:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
      }

      .c-hamburger-line:nth-child(3) {
        transform: translateY(-0.8rem) rotate(-45deg);
      }
    }

  }


  .c-nav-mobile__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .c-nav__link {
    display: block;
    font-size: var(--font-s-20); // 20px
    color: var(--color-blue-600);
    padding: 3.6rem 0; // 36px
    border-bottom: 0.1rem solid var(--color-blue-700);
    text-decoration: none;

    &:hover {
      color: var(--color-white);
    }

  }

  // Quitar border al último link (penúltimo li porque el último tiene el form)
  .c-nav-mobile__list>.c-nav__item:nth-last-child(2) .c-nav__link {
    border-bottom: none;
  }

  .c-nav__link--services {
    cursor: pointer;

    .c-icon-dropdown {
      display: flex;
      justify-content: space-between;

      img {
        width: 2rem;
        transition: transform 0.3s ease;
        transform: rotate(180deg);
      }
    }
  }

  // Rotar flecha cuando está abierto
  .has-dropdown.is-open {
    .c-icon-dropdown img {
      transform: rotate(0);
    }
  }

  .c-dropdown-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;

    .c-dropdown__link {
      display: block;
      font-size: var(--font-s-14); // 14px
      color: var(--color-blue-500);
      padding: 2.4rem 0; // 24px
      border-bottom: 1px solid var(--color-blue-600);
      text-decoration: none;

      &:hover {
        color: var(--color-white);
      }

      .drop-mobile-link__title {
        font-size: var(--font-s-16); // 16px
        margin-bottom: 1rem;
        font-weight: var(--font-w-semibold);
        color: var(--color-white);
      }

      .drop-mobile-link__description {
        font-size: var(--font-s-14);
      }

    }
  }

  // Mostrar dropdown cuando está abierto
  .has-dropdown.is-open .c-dropdown-mobile {
    max-height: 100rem;
    opacity: 1;
  }

  // ===== Form search mobile =====
  .c-search-form-mobile {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding-left: 2rem;
    // margin: 0 2rem;
    background-color: color-mix(in srgb, var(--color-primary) 90%, black 10%);
    border-radius: var(--space-sm);
    border: 0.1rem solid var(--color-blue-700);

    &:focus-within {
      background-color: color-mix(in srgb, var(--color-primary) 80%, black 20%);
    }

    .c-icon-button--search-mobile {
      flex-shrink: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        opacity: 0.6;
      }
    }

    .c-search-form__input {
      flex: 1;
      padding: 2rem 0;
      height: 100%;
      font-size: var(--font-s-16);
      background-color: transparent;
      color: var(--color-white);
      border: none;

      &::placeholder {
        color: var(--color-blue-600);
      }

      &:focus {
        outline: none;
      }
    }
  }


}

// Nav Mobile