@use "../config/mixins";

.l-footer {
  background-image: var(--gradient-teal-bottom);
  height: 100vh;
  place-content: center;
}

.l-footer-box {
  grid-template-rows: 2fr 4fr;
  // row-gap: 9rem;
  align-content: center;

  /* ======== tabletmobile ======== */
  @include mixins.break(medium) {
    row-gap: 4rem;
  }

}